section.about.with-image {
	padding: 0;
}
section.about img{
	border-radius: 50%;
	max-width: 100%;
	position: relative;
	width: 200px;
    margin-top: 55px;
}

.about-header {
	text-align: center;
	font-size: 40px;
}

.about-content {
	max-width: 600px;
	padding: 25px 40px;
	background-color: #fff;
	margin: 30 auto 40;
}