section.with-image.category
{
    padding: 100px 20px;
    min-height: 100vh;
}

.category .post
{
    display: flex;

    max-width: 600px;
    margin: 0 auto;
    padding: 20px 30px;

    background: #fff;

    justify-content: space-between;
    align-items: center;
}

.category .post .title
{
    font-size: 1.4em;
    padding: 0 10px;
}
