main {
    overflow-x: hidden;
}
.above-the-fold
{
    filter: blur(5px);
    transform: scale(1.02);
}

.section-header
{
    font-size: 7vw;

    display: flex;

    height: 14vw;
    margin: -7vw 0;

    transform: skewY(-8deg);

    background: #f0f0f0;

    align-items: center;
    justify-content: center;
}
.section-header:nth-of-type(2n)
{
    transform: skewY(8deg);
}
.section-header h2
{
    font-family: Anders;
}

section
{
    padding: 100vh 0 30px;
    /* to make room for the background image */
    padding: calc(100vh + 14vw) 0 30px;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.section-image
{
    position: absolute;
    z-index: -1;

    width: .1px;
    height: .1px;
}
.container
{
    position: relative;

    margin: 0 0 14vw;

    background: #f0f0f0;
}
.container:before
{
    position: absolute;
    top: -14vw;

    content: '';

    border-width: 0 0 14vw 100vw;
    border-style: solid;
    border-color: #f0f0f0 transparent;
}
.container:after
{
    position: absolute;

    content: '';

    border-width: 14vw 0 0 100vw;
    border-style: solid;
    border-color: #f0f0f0 transparent;;
}

.container:nth-of-type(2n):before
{
    border-width: 0 100vw 14vw 0;
}
.container:nth-of-type(2n):after
{
    border-width: 14vw 100vw 0 0;
}
.content
{
    max-width: 640px;
    margin: 0 auto;
    padding: 20px;
}
